@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      /* For rgba(0, 0, 0, 0.288 / <alpha-value>) */
      --detail-bg: 0 0 0 0.288;
    }
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: rgba(207, 27, 27, 0.836);   
   
}


